@charset "utf-8";
/* CSS Document */

body { background-color:#fff;}



.mt20 { margin-top:0.2rem !important;}
.mb120 { margin-bottom:1.2rem !important;}
.pb1rem { padding-bottom:1rem !important;}
.mt_50 { margin-top:-0.5rem !important;}
.mb130 { margin-bottom:1.3rem !important;}
.mt88 { margin-top:0.88rem !important;}
.mt110 { margin-top:1.1rem !important;}
.dis_none { display:none;}
.mt60 { margin-top:0.6rem !important;}
.top0 { top:0 !important;}



.zc_t {background-color:#f5f5f5; padding:0 0.42rem; font-size:0.36rem; color:#333; height:1.1rem; line-height:1.1rem;}

.zc_body { padding:0.3rem 0.42rem;}
.zc_body .zc_i { border-bottom:1px solid #f7f7f7; height:1.1rem;}
.zc_body .zc_i .zc_l { width:2rem; float:left; font-size:0.32rem; height:1.1rem; line-height:1.1rem; color:#333;}
.zc_body .zc_i .zc_r { margin-left:2rem; height:1.1rem; font-size:0.32rem; line-height:1.1rem; position:relative;}
.zc_body .zc_i .zc_r input { width:90%; margin-right:0.5rem; font-size:0.32rem; color:#333; text-align:right; border:none; float:right; height:0.7rem; padding:0.2rem 0;}

.zc_body .zc_i.nobor { border:none;}

.zc_body .zc_i .zc_r .error_tips { position:absolute; top:0.8rem; line-height:0.3rem; font-size:0.24rem; color:#C00; left:0rem; text-align:right; display:none;}

.zc_body .zc_i .zc_r.youjian { background:url("../images/youjian_po.png") right center no-repeat; background-size:auto 0.6rem;}
.zc_body .zc_i .zc_r .szd { text-align:right; padding-right:0.5rem; color:#a9a9a9;}


.zc_bar { position:absolute; bottom:0; width:100%; padding-bottom:1rem;}
.zc_bar .tjzc { height: 0.9rem;line-height: 0.9rem; color: #fff; text-align: center; width: 87.2%; background-color: #3273f5; border-radius: 0.45rem; font-size: 0.32rem; margin: 0 auto;}


.diqu { z-index:10000000; display:none; right:-100%; position:fixed; height:7rem; overflow:hidden; overflow-y:auto; bottom:0; width:100%; background-color:#fff;}
.diqu .diqu_i {height:0.9rem; line-height:0.9rem; font-size:0.32rem; color:#333; text-align:center; margin:0 0.42rem; border-bottom:1px solid #ddd; text-align:left; background:url("../images/youjian_po.png") right center no-repeat; background-size:auto 0.6rem;}
.diqu .diqu_i_d {height:0.9rem; line-height:0.9rem; font-size:0.32rem; color:#333; text-align:center; margin:0 0.42rem; border-bottom:1px solid #ddd; text-align:left;}

.diqu .xzdq_bar { height:0.9rem; line-height:0.9rem; border-bottom:1px solid #f7f7f7; padding:0 0.42rem; font-size:0.32rem; color:#333;}
.diqu .diqu_list { height:6.1rem; overflow:hidden; overflow-y:auto;}

.diqu .xzdq_bar .dq_n { font-size:0.32rem; color:#333; font-weight:bold;}


.hangye { z-index:10000000; display:none; right:-100%; position:fixed; height:7rem; overflow:hidden; overflow-y:auto; bottom:0; width:100%; background-color:#fff;}
.hangye .hangye_t {background-color:#f5f5f5; padding:0 0.42rem; font-size:0.32rem; color:#333; height:0.9rem; line-height:0.9rem;}
.hangye .hangye_b {  padding:0.25rem 0.42rem;}
.hangye .hangye_b .hangye_b_i {height:0.9rem; width:30.33%; padding:0 1.5%; line-height:0.9rem; font-size:0.32rem; color:#333; text-align:left; float:left;}

.hangye .hangye_bar { height:0.9rem; line-height:0.9rem; border-bottom:1px solid #f7f7f7; padding:0 0.42rem; font-size:0.32rem; color:#333;}
.hangye .hangye_list { height:6.1rem; overflow:hidden; overflow-y:auto;}


.loading { display:none; position:fixed;top:50%; width:6.9rem; height:3rem; margin-top:-1.5rem; background-color:#fff; border-radius:0.1rem; left:50%; margin-left:-3.45rem; z-index:1000000; }
.loading .loading_tu { width:1.5rem; height:1.5rem; margin:0.3rem auto 0;}
.loading .loading_txt { color:#333; font-size:0.32rem; text-align:center; line-height:0.9rem;}


.tankuang { display:none; border-radius:0.1rem; position:fixed; top:50%; width:6.9rem; background-color:#fff; z-index:100000000000000; left:50%; margin-left:-3.45rem;}
.qycj_p2 { height:0.9rem; background-color:#efefef;}
.qycj_p2 .qycj_p_name { font-size:0.32rem; margin-left:0.42rem; color:#333; padding-left:2rem;background:url("../images/xuan_zhong.png") left center no-repeat; background-size:auto 100%; line-height:0.9rem; height:0.9rem;}
.qycj_b .qycj_b_i.godone { padding-left:1.5rem; background:url("../images/qyzccg.png") left top no-repeat; background-size:2.8rem auto; line-height:0.9rem;}
.qycj_b .qycj_b_i.cgl { padding-left:3rem; background:url("../images/goudui.png") left top no-repeat; background-size:2.8rem auto; line-height:1.3rem;}

.qycj_b { padding:1rem 1rem 0;}


.qycj_p { padding:1.5rem; text-align:center; background-color:#efefef;}
.qycj_p .qycj_p_tu { width:35%; margin:0 auto;}
.qycj_p .qycj_p_name { font-size:1rem; color:#333; height:1.5rem; text-align:center;}

.qycj_b { padding:1rem 1rem 0;}
.qycj_b .qycj_b_i { line-height:1.5rem; font-size:1rem; color:#333; word-break:break-all; margin-bottom:1rem; text-align:justify;}
.qycj_b .qycj_b_i span { color:#30c5c3;}
.qycj_b .qycj_b_i a { color:#30c5c3;}

.tankuang .go_good { width:12rem; font-size:1rem; margin:0 auto 1rem; text-align:center; height:2rem; line-height:2rem; color:#fff; border-radius:1rem; background-color:#30c5c3; display:block;}

.top_fix .the_top_but_bar_r a b { font-size:0.6rem; left:auto; color:#fff; background-color:#FF635D; border-radius:1rem; font-weight:normal; padding:0rem 0.3rem; position:absolute; z-index:1000; line-height:0.8rem; top:3px; right:2px; height:1rem; display:block;}

.zhazao { display:none; z-index:1000000; position:fixed; top:0; left:0; width:100%; height:100% !important; background-color:#333;filter:alpha(opacity=70); -moz-opacity:0.7; -khtml-opacity: 0.7; opacity: 0.7;}/*20180807有修改*/


#diqu_p { margin-left:0.6rem;}

#up_back { float:right; color:#3273F5;}

.zc_body .zc_i .zc_r .error_tips { z-index:1000;}

.tankuang .tk_sec { width:3.31rem; height:2.73rem; display:block; margin:0.67rem auto 0;}
.tankuang .tk_sec_b { text-align:center; font-size:0.28rem; color:#333; padding-top:0.45rem;}
.tankuang .tk_sec_c { text-align:center; font-size:0.28rem; color:#666; padding-top:0.26rem;}
.tankuang .tk_sec_f { text-align:center; font-size:0.28rem; color:#3273F5; padding-top:0.38rem;}
.yqxhb { width:5.5rem; margin:0 auto; text-align:center; color:#3273F5; border:1px solid #3273F5; font-size:0.32rem; height:0.86rem; line-height:0.86rem; border-radius:0.43rem; margin-bottom:0.22rem; margin-top:0.55rem; }
.jrgzt { width:5.5rem; margin:0 auto; text-align:center; color:#fff; background-color:#3273F5; font-size:0.32rem; border:1px solid #3273F5; height:0.86rem; line-height:0.86rem; border-radius:0.43rem; margin-bottom:0.49rem;}





















