@charset "utf-8";
/* CSS Document */

body { background-color:#fff;}

.hfx { max-width:750px; width:100%; margin:0 auto; }


.menu_bar { background-color:#fff; position:fixed; bottom:0; z-index:5000; width:100%; max-width:750px; height:0.96rem; background-color:#fff; border-top:1px solid #f0f0f0;}
.menu_bar a { padding-top:0.08rem; width:50%; float:left; height:0.99rem; display:block;}
.menu_bar a .menu_tu {width:0.48rem; height:0.48rem; display:block; margin:0 auto;}
.menu_bar a .menu_ti { width:100%; display:block; text-align:center; height:0.3rem; line-height:0.3rem; margin-top:0.03rem; font-size:0.2rem; color:#5a5757;}
.menu_bar a .menu_tuon { display:none; width:0.48rem; height:0.48rem; margin:0 auto;}
.menu_bar a.on .menu_tuon { display:block;}
.menu_bar a.on .menu_tu { display:none;}
.menu_bar a.on .menu_ti { color:#1c46c8;}


.mt20 { margin-top:0.2rem !important;}
.mb120 { margin-bottom:1.2rem !important;}
.pb1rem { padding-bottom:1rem !important;}
.mt_50 { margin-top:-0.5rem !important;}
.mb130 { margin-bottom:1.3rem !important;}
.mt88 { margin-top:0.88rem !important;}
.mt110 { margin-top:1.1rem !important;}
.dis_none { display:none;}
.mt60 { margin-top:0.6rem !important;}
.top0 { top:0 !important;}


.seach_bar { height:0.8rem; padding:0.08rem 0; position:fixed; top:0; width:100%;max-width:750px; background-color:#fff;z-index:90100;}
.seach_bar .seach_bar_r { width:6.54rem; height:0.8rem; margin:0 auto; background-color:#f0f0f0; border-radius:0.2rem;}
.seach_bar .seach_bar_r .seach_but { width:0.26rem; height:0.26rem; float:left; margin-left:0.32rem; margin-top:0.28rem;}
.seach_bar .seach_bar_r .seach_input { width:5.2rem; margin-left:0.23rem; height:0.5rem; margin-top:0.15rem; line-height:0.5rem; font-size:0.36rem; color:#bdbdbf; float:left; background:none; border:none;}


.tab_bar { background-color:#fff; height:1rem; z-index:90100; width:100%; position:fixed; top:0.96rem; max-width:750px; position:fixed;}
.tab_bar a { width:25%; float:left; height:0.42rem; margin-top:0.29rem; padding-bottom:0.1rem; display:block; line-height:0.42rem; color:#666; font-size:0.32rem; text-align:center;}
.tab_bar a.on { color:#3161f6; background:url(../images/xxian.png) bottom center no-repeat; background-size:0.63rem 0.04rem;}

.tab_bar.thr_ge a { width:33.33%;}

.mt200 {margin-top:2rem !important;}

.banner { width:7.14rem; height:2.6rem; padding-left:0.36rem; overflow:hidden; margin-bottom:0.8rem;}
.banner .banner_i { height:2.6rem; display:block; float:left; margin-right:0.12rem; border-radius:0.2rem; overflow:hidden;}

.fwrd_bodybot { display:none;}


.yy_area {}
.yy_area .yy_area_t { font-size:0.32rem; color:#2a2a2a; height:0.6rem; line-height:0.6rem; padding:0 0.36rem;}
.yy_area .yy_area_t .get_more { font-size:0.28rem; color:#888; float:right; line-height:0.6rem;}

.yy_area .yy_area_b { padding:0.2rem 0 0.2rem 0.36rem; overflow:hidden; overflow-x:auto;}
.yy_area .yy_area_b .yy_area_b_r { height:1.6rem;}
.yy_area .yy_area_b .yy_area_b_r .yy_area_i { height:1.6rem; margin-right:0.68rem; display:block; width:1rem; float:left;}
.yy_area .yy_area_b .yy_area_b_r .yy_area_i .yy_area_i_tu { width:1rem; height:1rem; display:block; position:relative;}
.yy_area .yy_area_b .yy_area_b_r .yy_area_i .yy_area_i_tu i { width:1rem; height:1rem; display:block; position:absolute; top:0; left:0; background:url(../images/tu_zhazao.png) center no-repeat; background-size:100% 100%;}
.yy_area .yy_area_b .yy_area_b_r .yy_area_i .yy_area_i_ti { width:1.5rem; margin:-0.25rem; text-align:center; margin-top:0.2rem; height:0.3rem; font-size:0.26rem; line-height:0.3rem; display:block; color:#444;overflow:hidden; text-overflow: ellipsis; white-space: nowrap;}



.yun_area { margin-top:0.35rem;}
.yun_area .yun_area_t { font-size:0.32rem; color:#2a2a2a; height:0.6rem; line-height:0.6rem; padding:0 0.36rem;}
.yun_area .yun_area_t .get_more { font-size:0.28rem; color:#888; float:right; line-height:0.6rem;}

.yun_area .yun_area_b { padding:0.2rem 0 0.2rem 0.36rem; overflow:hidden; overflow-x:auto;}
.yun_area .yun_area_b .yun_area_b_r { height:1.6rem;}
.yun_area .yun_area_b .yun_area_b_r .yun_area_i { height:1.6rem; margin-right:0.68rem; display:block; width:1rem; float:left;}
.yun_area .yun_area_b .yun_area_b_r .yun_area_i .yun_area_i_tu { width:1rem; height:1rem; display:block; position:relative;}
.yun_area .yun_area_b .yun_area_b_r .yun_area_i .yun_area_i_tu i { width:1rem; height:1rem; display:block; position:absolute; top:0; left:0; background:url(../images/tu_zhazao.png) center no-repeat; background-size:100% 100%;}
.yun_area .yun_area_b .yun_area_b_r .yun_area_i .yun_area_i_ti { width:1.5rem; margin:-0.25rem; text-align:center; margin-top:0.2rem; height:0.3rem; font-size:0.26rem; line-height:0.3rem; display:block; color:#444;overflow:hidden; text-overflow: ellipsis; white-space: nowrap;}


.fl_list { margin-top:0.24rem;}
.fl_list_i { height:1.36rem; margin-left:0.48rem; border-bottom:1px solid #f7f7f7; display:block;}
.fl_list_i i { width:0.48rem; height:0.48rem; float:left; margin-top:0.44rem; display:block;}
.fl_list_i .fl_list_i_name { margin-left:0.72rem; /*padding:0.43rem 0;*/ height:1.36rem; line-height:1.45rem; display:block; font-size:0.36rem; color:#2a2a2a; width:70%;overflow:hidden; text-overflow: ellipsis; white-space: nowrap;}
.fl_list_i b { float:right; width:0.19rem; height:0.34rem; display:block; float:right; margin-top:0.5rem; margin-right:0.5rem;}


.yy_fz_list_i { margin:0 0.48rem; border-bottom:1px solid #f7f7f7; padding:0.3rem 0;}
.yy_fz_list_i .fz_lis_tu { width:1rem; height:1rem; display:block; float:left; position:relative;}
.yy_fz_list_i .fz_lis_tu i { width:1rem; height:1rem; display:block; position:absolute; top:0; left:0; background:url(../images/tu_zhazao.png) center no-repeat; background-size:100% 100%;}

.yy_fz_list_i .tianjia_but { float:right; width:1.2rem; display:block; position:relative; z-index:100; padding:0.06rem 0; background-color:#3273f5; border-radius:0.25rem; color:#fff; text-align:center; font-size:0.28rem; margin-top:0.26rem;}

.yy_fz_list_i .fz_list_cont { margin:0 0.6rem 0 1.3rem ; display:block;}
.yy_fz_list_i .fz_list_cont .fz_list_cont_t { height:0.5rem; font-size:0.36rem; color:#2a2a2a; display:block;}
.yy_fz_list_i .fz_list_cont .fz_list_cont_ti { height:0.5rem; max-width:3rem; display:inline-block; line-height:0.5rem; font-size:0.36rem; color:#2a2a2a; overflow:hidden; text-overflow: ellipsis; white-space: nowrap; }

.yy_fz_list_i .fz_list_cont .fz_list_cont_t a { font-size:0.36rem; color:#2a2a2a; display:inline-block; line-height:0.5rem; max-width:2.8rem;overflow:hidden; float:left; text-overflow: ellipsis; white-space: nowrap;}
.yy_fz_list_i .fz_list_cont .fz_list_cont_t .is_gf { border:1px solid #3273f5; border-radius:0.05rem; width:0.6rem; padding:0.03rem 0 0.01rem; margin-left:0.16rem; margin-top:0.02rem; display:inline-block; text-align:center; font-size:0.2rem; color:#3273f5; position:absolute;}
.yy_fz_list_i .fz_list_cont .fz_list_cont_b { font-size:0.28rem; color:#6f6f6f; padding:0.06rem 0; display:block;}

.yy_fz_list_i .dakai_but { float:right; width:1.2rem; padding:0.06rem 0; color:#3273f5; border-radius:0.25rem; background-color:#F0F0F7; text-align:center; font-size:0.28rem; margin-top:0.26rem;}

.yy_fz_list_i .tjfz_but { float:right; width:1.2rem; padding:0.06rem 0; background-color:#3273f5; border-radius:0.25rem; color:#fff; text-align:center; font-size:0.28rem; margin-top:0.26rem;}


.yy_fz_list .yy_fz_list_t { padding:0 0.36rem; font-size:0.36rem; font-size:0.32rem; color:#2a2a2a;}


.zhazao { display:none; z-index:950000; position:fixed; top:0; left:0; width:100%; height:100% !important; background-color:#333;filter:alpha(opacity=70); -moz-opacity:0.7; -khtml-opacity: 0.7; opacity: 0.7;}

.fz_list_bot { display:none; width:100%; position:fixed; bottom:0; background-color:#fff; z-index:10000000;}
.fz_list_bot .fz_list_bot_t { height:1.2rem; padding-left:0.48rem; line-height:1.2rem; font-size:0.36rem; line-height:1.2rem; color:#2a2a2a; font-weight:bolder;}
.fz_list_bot .fz_list_bot_b .fz_list_i { margin-left:0.48rem; border-top:1px solid #f7f7f7; height:1.2rem; line-height:1.2rem; font-size:0.36rem;}


.tab_bar.two_ge a { width:50%;}

.yy_xq_list_i { margin:0 0.48rem; border-bottom:1px solid #f7f7f7; padding:0.3rem 0;}
.yy_xq_list_i .yy_xq_lis_tu { width:1rem; height:1rem; display:block; float:left; position:relative;}
.yy_xq_list_i .yy_xq_lis_tu i { width:1rem; height:1rem; display:block; position:absolute; top:0; left:0; background:url(../images/tu_zhazao.png) center no-repeat; background-size:100% 100%;}

.yy_xq_list_i .yy_xq_list_cont { margin:0 0.6rem 0 1.3rem ;}
.yy_xq_list_i .yy_xq_list_cont .yy_xq_list_cont_t { height:0.5rem; font-size:0.36rem; color:#2a2a2a;  }
.yy_xq_list_i .yy_xq_list_cont .yy_xq_list_cont_t a { font-size:0.36rem; color:#2a2a2a; display:inline-block; line-height:0.5rem; max-width:2.8rem;overflow:hidden; float:left; text-overflow: ellipsis; white-space: nowrap;}
.yy_xq_list_i .yy_xq_list_cont .yy_xq_list_cont_t .is_gf { border:1px solid #3273f5; border-radius:0.05rem; width:0.6rem; padding:0.03rem 0 0.01rem; margin-left:0.16rem; margin-top:0.02rem; display:inline-block; text-align:center; font-size:0.2rem; color:#3273f5; position:absolute;}
.yy_xq_list_i .yy_xq_list_cont .yy_xq_list_cont_b { font-size:0.28rem; color:#6f6f6f; padding:0.06rem 0; display:block;}

.xq_tu { width:100%; max-width:750px;}

.xq_cont { padding:0.2rem 0.48rem; text-align:justify; line-height:0.5rem; color:#2a2a2a; font-size:0.26rem;}

.bot_bar { height:0.9rem; padding:0.5rem 0; background-color:#fff; border-top:1px solid #f7f7f7; position:fixed; bottom:0; width:100%; max-width:750px;}
.bot_bar .tianjia_bot_but { height:0.9rem; line-height:0.9rem; color:#fff; text-align:center; width:87.2%; background-color:#3273f5; border-radius:0.45rem; font-size:0.32rem; margin:0 auto;}



.seach_bar .seach_bar_rr { width:5.6rem; float:left; height:0.8rem; margin:0 auto; background-color:#f0f0f0; border-radius:0.2rem; position:relative;}
.seach_bar .seach_bar_rr .seach_but { width:0.26rem; height:0.26rem; float:left; margin-left:0.32rem; margin-top:0.28rem;}
.seach_bar .seach_bar_rr .seach_input { width:4rem; margin-left:0.23rem; height:0.5rem; margin-top:0.15rem; line-height:0.5rem; font-size:0.36rem; color:#bdbdbf; float:left; background:none; border:none;}

.seach_bar .seach_bar_big { width:6.54rem; margin:0 auto;}
.seach_bar .sousuo { float:right; font-size:0.32rem; color:#157CF8; line-height:0.8rem;}
.seach_bar_rr i { width:0.32rem; height:0.32rem; background:url(../images/s_cc.png) center no-repeat; background-size:100% 100%; position:absolute; right:0.14rem; top:0.26rem; display:none;}

.ck_more_b { height:0.8rem; text-align:right; line-height:0.8rem;}
.ck_more_b .ck_more { height:0.8rem; line-height:0.8rem; color:#157CF8; font-size:0.28rem; margin-right:0.48rem; display:block; }


.px_list { padding-top:0.3rem;}
.px_list .px_list_i { margin:0 0.435rem 0.35rem; width:1rem; height:1.5rem; float:left; position:relative;}
.px_list .px_list_i .px_list_i_tu { width:1rem; height:1rem; display:block; position:relative;}
.px_list .px_list_i .px_list_i_tu i {  width:1rem; height:1rem; display:block; position:absolute; top:0; left:0; background:url(../images/tu_zhazao.png) center no-repeat; background-size:100% 100%;}
.px_list .px_list_i .px_list_i_ti { width:1.5rem; margin:-0.25rem; text-align:center; margin-top:0.1rem; height:0.4rem; font-size:0.26rem; line-height:0.3rem; display:block; color:#444;overflow:hidden; text-overflow: ellipsis; white-space: nowrap;}

.px_list .px_add { margin:0 0.435rem 0.35rem; width:1rem; height:1rem; float:left; background:url(../images/add_yy.png) center no-repeat; background-size:100% 100%;}
.px_list .px_list_i .i_qd { width:0.28rem; height:0.28rem; z-index:10000; display:block; background:url(../images/qd_b.png) center no-repeat; background-size:100% auto; position:absolute; top:-0.05rem; right:-0.05rem;}


.bot_bar .b_quxiao { height:0.9rem; line-height:0.9rem; float:left; margin-right:0.2rem; margin-left:0.34rem; text-align:center; width:43.2%; border:1px solid #3273f5; color:#3273f5; border-radius:0.45rem; font-size:0.32rem;}
.bot_bar .b_baocun { height:0.9rem; line-height:0.9rem; color:#fff; float:left; text-align:center; width:43.2%; background-color:#3273f5; border:1px solid #3273f5; border-radius:0.45rem; font-size:0.32rem;}

.tips_hh { text-align:center; font-size:0.24rem; text-align:center; height:1rem; line-height:1rem; color:#3273f5;}


.mt03rem { margin-top:0.3rem !important;}



@media screen and (min-width:750px) {


html, body, div, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, th, td, map, input, textarea, i, a, h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; list-style:none; font-size:32px; font-weight: 100;font-family: "微软雅黑","宋体", Arial, sans-serif;}



}


input::-webkit-input-placeholder {   
 /* WebKit browsers */   
color: #bdbdbf;   
}   
input:-moz-placeholder {   
/* Mozilla Firefox 4 to 18 */   
color: #bdbdbf;   
}   
input::-moz-placeholder {   
 /* Mozilla Firefox 19+ */   
color: #bdbdbf;   
}   
input:-ms-input-placeholder {   
 /* Internet Explorer 10+ */   
color: #bdbdbf;   
} 


/*****************************************20180607开始以后******************************************************/


.yy_sq_top { width:88%; margin:0.6rem auto 0; padding-bottom:0.2rem; border-bottom:1px solid #f7f7f7;}
.yy_sq_top .yy_tu { width:1.2rem; height:1.2rem; margin:0 auto; position:relative;}
.yy_sq_top .yy_tu i {width:1.2rem; height:1.2rem; display:block; position:absolute; top:0; left:0; background:url(../images/tu_zhazao.png) center no-repeat; background-size:100% 100%;}

.yy_sq_top .yy_ti { width:100%; height:0.8rem; line-height:0.8rem; text-align:center; font-size:0.36rem; margin-top:0.15rem; color:#222;}

.yy_sq_tips { width:88%; margin:0.3rem auto;}
.yy_sq_tips .yy_sq_tips_c { margin-bottom:0.2rem; font-size:0.36rem; color:#444; line-height:0.6rem;}

.yy_sq_tips .yy_sq_tips_i { padding-left:0.4rem; font-size:0.32rem; color:#666; line-height:0.4rem; position:relative; margin-bottom:0.2rem; }
.yy_sq_tips .yy_sq_tips_i i { position:absolute; left:0; top:0; background:url(../images/dian.png) center no-repeat; background-size:0.06rem 0.06rem; width:0.3rem; height:0.4rem; display:block;}

.bot_tips { position:absolute; top:-1rem; height:1rem; line-height:0.6rem; font-size:0.26rem; color:#666; text-align:center; width:100%;} 

.park_area { background-color:#fff;}
.park_area .park_area_t { height:1rem; line-height:1rem; color:#2a2a2a; font-size:0.32rem; padding:0 0.42rem; height:0.96rem; line-height:0.96rem; border-bottom:1px solid #f7f7f7;}
.park_area .park_area_t span { color:#999; font-size:0.24rem; margin-left:0.3rem;}

.park_area .park_area_b { padding:0.2rem 0.42rem;}
.park_area .park_area_b .pick_i { height:1.2rem; line-height:1.2rem; font-size:0.32rem; border-bottom:1px solid #f7f7f7; padding-left:0.6rem; position:relative;}
.park_area .park_area_b .pick_i.nobor { border:none;}

.park_area .park_area_b .pick_i .pick_mem { color:#3273f5; float:right; padding-right:0.4rem; background:url(../images/y_j.png) right center no-repeat; background-size:0.19rem 0.34rem;}

.park_area .park_area_b .pick_i i { position:absolute; width:0.4rem; height:0.4rem; top:0.4rem; left:0; background:url(../images/gougou.png) top center no-repeat; background-size:100% 200%;}
.park_area .park_area_b .pick_i i.on { background-position:bottom center;}

.tk_tankuang { width:80%; background-color:#fff; padding:0.5rem 0; position:fixed; top:30%; left:50%; margin-left:-40%; display:none; z-index:1000000; border-radius:0.25rem;}
.tk_tankuang .tk_tankuang_tu { width:1.5rem; height:1.5rem; margin:0 auto 0.2rem;}
.tk_tankuang .tk_tankuang_ti { text-align:center; font-size:0.32rem; color:#222; line-height:0.6rem;}



















