body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:600px;
  overflow:hidden;
}
#u64_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:600px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u64_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u65_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:711px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:711px;
}
#u66 {
  position:absolute;
  left:2px;
  top:348px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u67 {
  position:absolute;
  left:56px;
  top:21px;
  width:262px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u69 {
  position:absolute;
  left:27px;
  top:57px;
  width:320px;
  height:1px;
}
#u70 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:48px;
}
#u71 {
  position:absolute;
  left:39px;
  top:70px;
  width:297px;
  height:48px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  word-wrap:break-word;
}
#u73_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:113px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u73 {
  position:absolute;
  left:33px;
  top:134px;
  width:309px;
  height:113px;
  color:#000000;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  word-wrap:break-word;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:240px;
}
#u75 {
  position:absolute;
  left:37px;
  top:436px;
  width:300px;
  height:240px;
  color:#000000;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:172px;
}
#u77 {
  position:absolute;
  left:35px;
  top:245px;
  width:304px;
  height:172px;
}
#u78 {
  position:absolute;
  left:2px;
  top:78px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u79 {
  position:absolute;
  left:253px;
  top:52px;
  width:65px;
  height:65px;
}
#u80 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
