body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:393px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:600px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:600px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1064px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1064px;
}
#u2 {
  position:absolute;
  left:2px;
  top:524px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:271px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3 {
  position:absolute;
  left:12px;
  top:722px;
  width:352px;
  height:271px;
}
#u4 {
  position:absolute;
  left:2px;
  top:128px;
  width:348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:177px;
}
#u5 {
  position:absolute;
  left:33px;
  top:738px;
  width:314px;
  height:177px;
}
#u6 {
  position:absolute;
  left:2px;
  top:80px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:271px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7 {
  position:absolute;
  left:11px;
  top:43px;
  width:352px;
  height:271px;
}
#u8 {
  position:absolute;
  left:2px;
  top:128px;
  width:348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u9 {
  position:absolute;
  left:11px;
  top:18px;
  width:352px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u11_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u11 {
  position:absolute;
  left:32px;
  top:255px;
  width:315px;
  height:40px;
  line-height:20px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:270px;
  top:240px;
  width:77px;
  height:69px;
  overflow:hidden;
}
#u13_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:69px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u14 {
  position:absolute;
  left:10px;
  top:20px;
  width:54px;
  height:30px;
  font-size:12px;
  color:#FFFFFF;
}
#u14_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 51, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u14.mouseDown {
}
#u15 {
  position:absolute;
  left:2px;
  top:8px;
  width:50px;
  word-wrap:break-word;
}
#u13_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:69px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u17 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:271px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18 {
  position:absolute;
  left:11px;
  top:377px;
  width:352px;
  height:271px;
}
#u19 {
  position:absolute;
  left:2px;
  top:128px;
  width:348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u20 {
  position:absolute;
  left:11px;
  top:352px;
  width:352px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:177px;
}
#u22 {
  position:absolute;
  left:32px;
  top:394px;
  width:315px;
  height:177px;
}
#u23 {
  position:absolute;
  left:2px;
  top:80px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u24 {
  position:absolute;
  left:32px;
  top:589px;
  width:315px;
  height:20px;
  line-height:20px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  word-wrap:break-word;
}
#u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u26 {
  position:absolute;
  left:12px;
  top:696px;
  width:352px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u28 {
  position:absolute;
  left:33px;
  top:934px;
  width:219px;
  height:40px;
  line-height:20px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  word-wrap:break-word;
}
#u30_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u30 {
  position:absolute;
  left:154px;
  top:1023px;
  width:69px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:270px;
  top:920px;
  width:77px;
  height:68px;
  overflow:hidden;
}
#u32_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:68px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u32_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u33_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u33 {
  position:absolute;
  left:10px;
  top:20px;
  width:54px;
  height:30px;
  font-size:12px;
  color:#FFFFFF;
}
#u33_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 51, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u33.mouseDown {
}
#u34 {
  position:absolute;
  left:2px;
  top:8px;
  width:50px;
  word-wrap:break-word;
}
#u32_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:68px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u32_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u36 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:175px;
}
#u37 {
  position:absolute;
  left:31px;
  top:63px;
  width:310px;
  height:175px;
}
#u38 {
  position:absolute;
  left:2px;
  top:80px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:270px;
  top:575px;
  width:77px;
  height:68px;
  overflow:hidden;
}
#u39_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:68px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u39_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u40_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u40 {
  position:absolute;
  left:10px;
  top:20px;
  width:54px;
  height:30px;
  font-size:12px;
  color:#FFFFFF;
}
#u40_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 51, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u40.mouseDown {
}
#u41 {
  position:absolute;
  left:2px;
  top:8px;
  width:50px;
  word-wrap:break-word;
}
#u39_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:68px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u39_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u43 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:11px;
  top:377px;
  width:352px;
  height:271px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u45 {
  position:absolute;
  left:12px;
  top:721px;
  width:352px;
  height:272px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u46 {
  position:absolute;
  left:12px;
  top:43px;
  width:352px;
  height:271px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
