body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:600px;
  overflow:hidden;
}
#u81_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:600px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u81_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u82_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2250px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2250px;
}
#u83 {
  position:absolute;
  left:2px;
  top:1117px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u84 {
  position:absolute;
  left:56px;
  top:21px;
  width:262px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u86 {
  position:absolute;
  left:27px;
  top:83px;
  width:320px;
  height:1px;
}
#u87 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:72px;
}
#u88 {
  position:absolute;
  left:39px;
  top:96px;
  width:297px;
  height:72px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  word-wrap:break-word;
}
#u90_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:517px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u90 {
  position:absolute;
  left:33px;
  top:362px;
  width:309px;
  height:517px;
  color:#000000;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  word-wrap:break-word;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u92 {
  position:absolute;
  left:253px;
  top:52px;
  width:65px;
  height:65px;
}
#u93 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:177px;
}
#u94 {
  position:absolute;
  left:30px;
  top:175px;
  width:314px;
  height:177px;
}
#u95 {
  position:absolute;
  left:2px;
  top:80px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
